{% extends "base.html" %}
{%block content%}
<div class="flex w-full h-full">
    <div class="w-1/2 flex justify-center items-center">
        Arike
    </div>
    <div class="w-1/2 flex justify-center items-center">

        <form method="post">
            {{form.non_field_errors}}
            {%csrf_token%}
            {%for field in form%}
            <div class="my-4 flex flex-col">
                <div class="mb-1">{{field.label}}</div>
                {{field}}
                {%if field.errors%}
                <ol class="list-disc ml-6 text-sm text-red-500">
                    {%for error in field.errors %}
                    <li>
                        {{error|escape}}
                    </li>
                    {%endfor%}
                </ol>
                {%endif%}
            </div>
            {%endfor%}
            <button type="submit"
                class="text-center bg-purple-500 text-white w-full rounded-md py-2 hover:bg-purple-400 transition ease-in-out duration-300">
                Login</button>
        </form>
    </div>
</div>
{%endblock%}