{% extends "dashboard.html" %}
{%block page_content%}
<div class=" w-4/5 mx-auto flex justify-between items-center mb-6">
    <div class="text-3xl font-semibold ">Visit</div>
</div>
<div class="w-4/5 mx-auto grid grid-cols-2 gap-4">
    <a href="/patient/visit/{{object.id}}/treatment-notes"
        class="p-4 bg-white rounded-lg flex justify-center items-center font-semibold h-28">Treatment Notes</a>
    <a href="/patient/visit/{{object.id}}/health-info"
        class="p-4 bg-white rounded-lg flex justify-center items-center font-semibold">Health Information</a>
</div>
{%endblock%}