{% extends "base.html" %}
{%block content%}
<div class="flex h-screen">
    <div class="border w-1/5 p-4 flex flex-col justify-between">
        <div class="">
            <div class="text-2xl font-bold mb-4">Arike</div>
            <div class="flex flex-col">
                {% if request.resolver_match.url_name == 'facility' %}
                <a href="/facilities" class="p-3 rounded-lg text-white bg-black">Facilities</a>
                {%else%}
                <a href="/facilities" class=" p-3 rounded-lg ">Facilities</a>
                {% endif %}
                {% if request.resolver_match.url_name == 'patient' %}
                <a href="/patients" class="p-3 rounded-lg text-white bg-black">Patients</a>
                {%else%}
                <a href="/patients" class=" p-3 rounded-lg ">Patients</a>
                {% endif %}
                {% if request.resolver_match.url_name == 'users' %}
                <a href="/users" class="p-3 rounded-lg text-white bg-black">Users</a>
                {%else%}
                <a href="/users" class=" p-3 rounded-lg ">Users</a>
                {% endif %}
                {% if request.resolver_match.url_name == 'schedule' %}
                <a href="/schedule" class="p-3 rounded-lg text-white bg-black">Schedule</a>
                {%else%}
                <a href="/schedule" class=" p-3 rounded-lg ">Schedule</a>
                {% endif %}
            </div>
        </div>
        <div class="border-t flex border-gray-300">
            <div class=" mt-2 mr-4 rounded-full border h-12 w-12 bg-black"></div>
            <div class="flex flex-col">
                <a href="/profile" class="mt-2 font-semibold">{{request.user}}</a>
                <a href="/logout" class="text-blue-500">logout</a>
            </div>
        </div>
    </div>
    <div class="w-4/5 p-4 overflow-y-auto h-screen">
        <div class="">
            {%block page_content%}
            {%endblock%}
        </div>
    </div>
</div>
{%endblock%}